PUERTO_ESCUCHA=5005
PUNTO_MONTAJE=/home/utnso/desktop/AFIP
DIRECTORIO_RESTAURANTES=/home/utnso/desktop/AFIP/Restaurantes
DIRECTORIO_RECETAS=/home/utnso/desktop/AFIP/Recetas
DIRECTORIO_BLOQUES=/home/utnso/desktop/AFIP/Blocks
ARCHIVO_METADATA=/home/utnso/desktop/AFIP/Metadata/Metadata.AFIP
ARCHIVO_BITMAP=/home/utnso/desktop/AFIP/Metadata/Bitmap.bin
ARCHIVO_LOG=SINDICATO.log